body {
  background-image: url(https://st2.depositphotos.com/3921439/7382/v/950/depositphotos_73829143-stock-illustration-the-blank-train-ticket-icon.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
